CarcassonneVisit/*.iml
CarcassonneVisit/.gradle
CarcassonneVisit/local.properties
CarcassonneVisit/.idea/workspace.xml
CarcassonneVisit/.idea/libraries
CarcassonneVisit/.DS_Store
CarcassonneVisit/build
CarcassonneVisit/captures
